.login-page {
    margin-top: 100px;
}

.login-btn {
    width: 110px;
}

.login-btn-l {
    margin-left: 15px;
}

.code_msg {
    color: red;
    font-size: 17px;
}

#msg {
    color: red;
    font-size: 17px;
}
#id_img_avatar{
    width: 50px;
    border-radius: 50%;
    display: block;
    margin-left: 180px;
}
#id_avatar{
    display: none;
}
.btn{
    width: 100px;
    margin-right: 20px;
}