{% extends 'layout.html' %}


{% block content %}
    <div>
        <a href="{% url 'classes_add' %}" class="btn btn-success">添加(推荐)</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>班级名称</th>
                <th>校区</th>
                <th>开班日期</th>
                <th>班主任</th>
                <th>任课老师</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for row in queryset %}
                <tr>
                    <td>{{ row.course.name }}{{ row.semester }}期</td>
                    <td>{{ row.school.title }}</td>
                    <td>{{ row.start_date }}</td>
                    <td>{{ row.tutor.username }}</td>
                    <td>
                        {% for ele in row.teachers.all %}
                            <span style="display: inline-block;padding: 5px;border: 1px solid #dddddd;">
                                {{ ele.username }}
                            </span>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'classes_edit' row.id %}">编辑</a>
                        <a href="{% url 'classes_del' row.id %}">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}