{% extends "tp.html" %}
{% block left %}
    {% include "index/tp_left.html" %}
{% endblock %}
{% block rigth %}
        <div class="panel panel-default">
            <div class=" panel-heading">
                <h5>首页</h5>
            </div>
            <div class=" panel-body">
                <div class="jumbotron">
                    <h1>Hello, world!</h1>
                    <p>...</p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
{% endblock %}