<div class="panel panel-warning">
    <div class="panel-heading">
        <h5>内容管理</h5>

    </div>
    <div class="panel-body">
        <a href="/fault-report/add_report/" class="btn btn-success" style="width: 150px">发布内容</a>
        <hr>
        <ul style="list-style-type: none">
            <li><a href="/fault-report/info/">我发布的故障</a></li>
        </ul>
    </div>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h5>资料管理</h5>
    </div>
    <div class="panel-body">
        <ul style="list-style-type: none">
            <li><a href="/p_center/">编辑资料</a></li>
            <li><a href="/set_password/">修改密码</a></li>
        </ul>
    </div>
</div>