<div class="panel panel-default">
    <div class="panel-heading">
        <h5>内容管理</h5>

    </div>
    <div class="panel-body">
        <button class="btn btn-success" style="width: 150px">发布内容</button>
        <hr>
        <ul style="list-style-type: none">
            <li><a href="/p_center/">查看评论</a></li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h5>资料管理</h5>
    </div>
    <div class="panel-body">
        <ul style="list-style-type: none">
            <li><a href="/p_center/">编辑资料</a></li>
            <li><a href="/set_password/">修改密码</a></li>
        </ul>
    </div>
</div>