<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>故障详情页</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css">
    <!--故障详情表CSS-->
    <link rel="stylesheet" href="/static/css/report_det.css">
</head>
<body>
{% include "nav_tp.html" %}
<div class="container">
    <div class="row">
        {% csrf_token %}
        <!--故障详情开始-->
        <div class="col-md-12">
            <!--故障标题-->
            <div><h1>{{ report.title }}</h1></div>
            <hr>
            <!--故障详情，safe渲染html标签-->
            <div>{{ report.faultdetail.content|safe }}</div>
        </div>
        <!--故障详情结束-->
        <!--点赞开始-->
        <div class="col-md-2 col-md-offset-10">
            <div id="div_digg">
                <div class="diggit updown">
                    <span class="diggnum" id="digg_count">{{ report.up_count }}</span>
                </div>
                <div class="buryit updown">
                    <span class="burynum" id="bury_count">{{ report.down_count }}</span>
                </div>
                <div class="clearfix"></div>
                <div class="diggword" id="digg_tips">
                </div>
            </div>
        </div>
        <!--点赞结束-->
        <!--评论展示区开始-->
        <div class="col-md-12 comment-list">
            <hr>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>评论列表</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for comment in report.comment_set.all %}
                            <div class="list-group-item" comment-id="{{ comment.id }}">
                                <span class="counter"> {{ forloop.counter }}楼</span>
                                <span> {{ comment.comment_date }}</span>
                                <span> {{ comment.user.username }}说</span>
                                <span class="reply counter btn btn-sm btn-success">回复</span>
                                <hr>
                                <!--判断有没有父评论-->
                                <div class="com-content">
                                    {% if comment.parent_comment %}
                                        <div class="list-group-item-text well">
                                            @{{ comment.parent_comment.user.username }}
                                            <p>{{ comment.parent_comment.content }}</p>
                                        </div>
                                    {% endif %}
                                    <p class="list-group-item-text">
                                        {{ comment.content }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!--评论展示区开始-->
        <!--发表评论开始-->
        <div class="col-md-12">
            <div class="comment_box">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>发表评论</h4>
                    </div>
                    <div class="panel-body">
                        <textarea id="content" cols="70" rows="10"></textarea>
                        <p>
                            <button class="btn btn-success" id="submit-comment">发表评论</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--发表评论结束-->
    </div>
</div>


<script src="/static/plugins/jquery-3.3.1.min.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.js"></script>
<script>
    $(function () {
        // 点赞JS开始
        $(".updown").click(function () {
            // 取到点赞必须的数据
            // 1. 被点赞文章
            var reportID ={{report.id}};
            //  2. 点赞或者反对
            var isUp = $(this).hasClass("diggit");

            $.ajax({
                url: "/fault-report/up_down/",
                type: "post",
                data: {
                    "report_id": reportID,
                    "is_up": isUp,
                    "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
                },
                success: function (res) {
                    console.log("12312313123" + res);
                    // 当code等于1的时候，点赞有错误,显示错误信息
                    if (res.code === 1) {
                        $("#digg_tips").text(res.msg)
                    } else {
                        // 点赞或者反对成功，展示点赞数据
                        if (isUp) {
                            // 点赞数+1 parseInt 把字符串转换成数字类型
                            $("#digg_count").text(parseInt($("#digg_count").text()) + 1);
                        } else {
                            // 反对数+1  "+" 也可以把字符串转成数字类型
                            $("#bury_count").text(+$("#bury_count").text() + 1);
                        }
                        // 2. 展示成功的提示信息
                        $("#digg_tips").text(res.msg);
                    }
                }
            })
        });
        // 点赞JS结束

        //发表评论开始
        var parentId;
        $("#submit-comment").click(function () {
            // 1. 取到文章ID
            var report_id ={{ report.id }};
            // 2. 用户点回复的时候把输入框中的@符号去掉
            // 2.1 取到文本框中的内容
            var oldContent = $("#content").val();
            // 2.2 对文本框内容进行切片处理
            var content = oldContent.slice(oldContent.indexOf("\n") + 1,);
            // 3. 发送ajax请求
            $.ajax({
                url: "/fault-report/comment/",
                type: "post",
                data: {
                    "report_id": report_id,
                    "content": content,
                    "parent_id": parentId,
                    "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val() // 一定不要忘了
                },
                success: function (res) {
                    console.log(res.data);
                    console.log(res.data.n);
                    // 如果code等于0则发布评论成功
                    if (res.code === 0) {
                        // 开始在页面展示评论楼
                        var s = `
                             <div class="list-group-item" comment-id=${res.code.id}>
                                <span class="counter"> ${res.data.n}楼</span>
                                <span> ${ res.data.create_time }</span>
                                <span> ${ res.data.user }说</span>
                                <span class="reply counter btn btn-success">回复</span>
                                <hr>
                                <p class="list-group-item-text">
                                ${ res.data.content }
                                </p>
                            </div>`;

                        // 将创建好的评论添加到评论列表中
                        $(".list-group").append(s);
                        $("#content").val("");
                        parentId = undefined;
                    }


                }
            })
        });
        //发表评论结束

        //给回复按钮绑定事件开始
        $(".list-group").on("click", ".reply", function () {
            console.log("123");
            // 获取回复的用户名
            var replayName = $(this).prev().text();
            // 给用户名添加@符号结尾增加换行符
            console.log("@" + replayName + "\n");
            // 获取文本框的焦点，并修改值为@用户名
            $("#content").val("@" + replayName + "\n").focus();  // 获取焦点
            // 设置parentId的值，发表评论后端会判断parentId是否有值，根据值设置父级评论
            parentId = $(this).parent().attr("comment-id");
        })
        //给回复按钮绑定事件结束

    });
</script>
</body>
</html>