{% extends "tp.html" %}

{% block left %}
    {% include "user/tp_left.html" %}
{% endblock %}
{% block rigth %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>用户管理</h5>
        </div>
        <div class="panel-body">
            <a href="/add_user/" class="btn btn-success adduser" style="margin-bottom: 10px">添加用户</a>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>用户名</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in data %}
                    {% if obj.id == 1 %}
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                {{ obj.username }}
                            </td>
                            <td>
                                <a href="/edit_user/?id={{ obj.id }}">
                                    <button class="btn btn-success">编辑</button>
                                </a>
                                <a href="/edit_user/?id={{ obj.id }}">
                                    <button class="btn btn-danger" disabled="disabled">删除</button>
                                </a>
                            </td>
                            {% else %}
                        <tr>
                            <td>
                                {{ forloop.counter|add:num }}
                            </td>
                            <td>
                                {{ obj.username }}
                            </td>
                            <td>
                                <a href="/edit_user/?id={{ obj.id }}" class="btn btn-success">
                                    编辑
                                </a>
                                <a href="/delete_user/?id={{ obj.id }}" class="btn btn-danger">
                                    删除
                                </a>
                            </td>

                        </tr>
                    {% endif %}

                {% endfor %}
                </tbody>
            </table>
            {{ page_html|safe }}
        </div>
    </div>
{% endblock %}