<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运维管理平台</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/platform.css">
</head>
<body>
<div class="top">
    <nav class="navbar navbar-default  navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/platform/?user={{ user }}">运维管理平台</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">欢迎：{{ user }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/login/">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="row content">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="view"><a href="/platform/?user={{ user }}">首页</a></li>
            <li role="presentation" class="active view"><a href="/user_list/?user={{ user }}">用户管理</a></li>
            <li role="presentation" class="view"><a href="/host_list/?user={{ user }}">主机管理</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        {% block content %}
        {% endblock %}
    </div>
</div>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.js"></script>
<script src="/static/js/platform.js"></script>
{% block js %}
{% endblock %}
</body>
</html>