{% extends "tp_user.html" %}
{% block content %}
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>创建用户</h5>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="/add_user/" method="post">
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">用户唯一编号</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="username" id="username" placeholder="用户名">
                            <span style="color: red;">{{ user_msg }}</span>
                            <span style="color: red;">{{ msg }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="password" placeholder="密码" name="password">
                            <span style="color: red;">{{ pwd_msg }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-1">
                            <button type="submit" class="btn btn-success">创建用户</button>
                        </div>
                        <div class="col-sm-offset-1 col-sm-2">
                            <button type="button" class="btn btn-default change">取消创建</button>
                        </div>
                        <span id="check" style="margin-left: 20px; font-size: 13px; line-height: 33px"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/add_user.js"></script>
{% endblock %}