{% extends "index_tp.html" %}
{% block title %}
    <title>报障系统首页</title>
{% endblock %}
{% block view %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>业务线</h4>
        </div>
        <div class="panel-body">
            内容
        </div>
    </div>    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>标签</h4>
        </div>
        <div class="panel-body">
            内容
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>日期分组</h4>
        </div>
        <div class="panel-body">
            内容
        </div>
    </div>
{% endblock %}
{% block context %}
    <div class="jumbotron">
        <h1>欢迎访问报障系统</h1>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">暂无报障</a></p>
    </div>
{% endblock %}