{% extends "index_tp.html" %}
{% block title %}
    <title>报障系统首页</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/error.css">
{% endblock %}
{% block view %}
    {% include "p_center_view.html" %}
{% endblock %}
{% block context %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3> 修改密码</h3></div>
        <div class="panel-body panel-success">
            <form class="form-horizontal" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="password_old" class="col-sm-2 control-label">原始密码</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control" id="password_old" placeholder="原始密码"
                               name="password_old">
                    </div>
                    <p class="error">{{ error_msg }}</p>
                </div>
                <div class="form-group">
                    <label for="password_new_1" class="col-sm-2 control-label">新密码</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control" id="password_new_1" placeholder="新密码"
                               name="password_new_1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password_new_2" class="col-sm-2 control-label">确认密码</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control" id="password_new_2" placeholder="确认密码"
                               name="password_new_2">
                    </div>
                    <p class="error error_dif">{{ error_msg_pwd }}</p>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="submit" class="btn btn-success">确认修改</button>
                        <a href="/index/" class="btn btn-warning">取消修改</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/set_password.js"></script>
{% endblock %}