{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
    <a href="{% url "group_add" %}" class="btn btn-primary">添加</a>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>组名称</th>
            <th>组用户</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for row in queryset_list %}
            <tr>
                <td>{{ row.name }}</td>
                <td>
                    {% for role in row.users.all %}
                        <span>{{ role.name }}</span>
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'group_edit' row.id %}" class="btn btn-success">编辑</a>
                    <a href="{% url 'group_del' row.id %}" class="btn btn-danger">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

