{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
    <a href="{% url "user_add" %}" class="btn btn-primary">添加</a>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>用户名</th>
            <th>邮箱</th>
            <th>手机号</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for row in queryset_list %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.email }}</td>
                <td>{{ row.mobile }}</td>
                <td>
                    <a href="{% url 'user_edit' row.id %}" class="btn btn-success">编辑</a>
                    <a href="{% url 'user_del' row.id %}" class="btn btn-danger">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

