.login-page {
    margin-top: 100px;
}

.login-btn-l {
    margin-left: 15px;
}

.code_msg {
    color: red;
    font-size: 17px;
}

#msg {
    color: red;
    font-size: 17px;
}

#id_img_avatar {
    width: 50px;
    border-radius: 50%;
    display: block;
    margin-left: 220px;
}

#id_avatar {
    display: none;
}

.btn {
    width: 130px;
    margin-right: 20px;
}

.login-btn {
    width: 100px;
}