{% extends "index_tp.html" %}
{% block title %}
    <title>报障系统首页</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/error.css">
{% endblock %}
{% block context %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3> 编辑信息</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="" method="post" novalidate>
                {% csrf_token %}
                {% for field in form_obj %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                        <div class="col-sm-3">
                            {{ field }}
                        </div>
                        <p class="error">{{ field.errors.0 }}</p>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="submit" class="btn btn-success">确认修改</button>
                        <a href="/index/" class="btn btn-warning">取消修改</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}